/*.icon-border {
    border: 1px solid #FF0097;
}


.progress-info {
    display: block;
    font-size: 16px;
    color: #FF0097;
    padding: 12px 0 22px;
}


.chart-sublabel {
    font-size: 13px;
    color: white; 
    margin-left: 8px;
}*/